.card {
  min-width: 300px;
  max-width: 350px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.product-title {
  font-size: 1.1rem;
}

.card-info {
  padding: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-price {
  color: #ffffff;
  font-size: 1.2rem;
  color: #8e5a33;
  font-weight: bold;
  border-radius: 5px;
}

.cart-control {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-to-cart-button {
  border: none;
  background-color: #8e5a33;
  color: #ffffff;
  border-radius: 8px;
  padding: 0.7rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.cart-count {
  font-size: 1.3rem;
  font-weight: bold;
}

.card-control-button {
  border: none;
  background-color: #8e5a33;
  color: #ffffff;
  border-radius: 8px;
  padding: 0.7rem 1.3rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
