:root {
  --primary-color: #5a3123;
  --white-color: #ffffff;
  --card-bg-color: #ddcba4;
  --filter-bg-color: #ddcba4;
  --filter-bg-color-checked: #ddcba4;
  --border-radius: 10px;
  --bg-button: #8e5a33;
  --bg-button-hover: #734529;
}
