/* Сетка товаров */
.product-grid {
    margin-top: 2rem;
    padding: 0 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    gap: 1.2rem;
  }
  
  .product-card {
    min-width: 300px;
    max-width: 350px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    background-color: var(--card-bg-color);
  }
  
  .product-card-title {
    font-size: 1.3rem;
    color: var(--primary-color);
    text-align: center;
  }
  
  .product-card-info {
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .product-card-price {
    color: #ffffff;
    font-size: 1.4rem;
    color: var(--white-text);
    background-color: var(--primary-color);
    width: 5rem;
    padding: 3px 5px;
    text-align: center;
    border-radius: 5px;
  }
  
  .product-card-cart-controls {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .product-card-add-to-cart-button {
    border: none;
    background-color: #8e5a33;
    color: #ffffff;
    border-radius: 8px;
    padding: 0.7rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .product-card-cart-count {
    font-size: 1.3rem;
    font-weight: bold;
  }
  
  .product-card-cart-count-button {
    border: none;
    background-color: #8e5a33;
    color: #ffffff;
    border-radius: 8px;
    padding: 0.7rem 1.3rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
  }

  .product-card-cart-count-button.hide {
    display: none;
  }
  
  /* Слайдер */
  .slider {
    width: 100%;
    min-height: 250px;
    max-height: 250px;
    overflow: hidden;
    border-radius: 8px;
    position: relative;
  }
  
  .slides {
    width: 100%;
    height: 100%;
    display: flex;
    transition: transform 0.3s;
  }
  
  .slide {
    flex-shrink: 0;
    width: 100%;
  }
  
  .product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
  }
  
  .prev-btn,
  .next-btn {
    background: rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 5px;
    font-size: 1.7rem;
    color: #e4e4e4;
    position: absolute;
    top: 45%;
    cursor: pointer;
    padding: 0.1rem 0.7rem;
  }
  
  .prev-btn {
    left: 0.5rem;
  }
  
  .next-btn {
    right: 0.5rem;
  }
  
  .dots-container {
    min-height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin: 0.5rem 0;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #bbb;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
  }
  
  .dot:hover {
    transform: scale(1.2);
    background: #999;
  }
  
  .dot.active {
    background: #8e5a33;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  }
  
  .modal {
    z-index: 300;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  
  .modal.open {
    display: flex;
  }
  
  .modal-slider {
    margin: 1rem;
    max-width: 450px;
    max-height: 80vh;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .modal-slides {
    display: flex;
    align-items: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .modal-slide {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1.5;
  }
  
  .modal-prev-btn,
  .modal-next-btn {
    margin: 1rem;
    background: rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 5px;
    font-size: 1.8rem;
    color: #e4e4e4;
    cursor: pointer;
  }
  
  .modal-close-button {
    position: absolute;
    cursor: pointer;
    top: 1rem;
    right: 1rem;
    font-size: 2.5rem;
    color: #ffffff;
  }
  
  .modal-thumbnails-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .modal-thumbnail {
    width: 3rem;
    height: 3rem;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.2s, border 0.2s;
    border: 2px solid transparent;
  }
  
  .modal-thumbnail:hover {
    border-color: #8e5a33;
  }
  
  .modal-thumbnail.active {
    transform: scale(1.1);
    border-color: #8e5a33;
  }